<div class="row justify-content-center">
  <div class="col-6 m-4">
    <h2 id="new-text">New Article</h2>
    <div>
      <%= form_with model: @article do |f| %>
        <div class="mb-3">
          <%= f.label :title %>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :content %>
          <%= f.text_field :content, class:"form-control" %>
        </div>
        <div class ="mb-3">
          <%= f.submit "Create Article", class:"btn btn-secondary" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Back", articles_path %>
  </div>
</div>
